<!DOCTYPE html>
<html>
  <head>
    <title>Whisper App</title>
    <link rel='stylesheet' src='/public/css/style.css'/>
  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.0.0/css/bootstrap-slider.css" />
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
  </head>
  <body class="container">
        <% if(err && err.length > 0) { %>
        <% console.log(err) %>
		<div class="alert alert-danger" role="alert">
			Error in details provided: <%= err %>
		</div>
        <% } %>
        <% if (succ && succ.length > 0) { %>
		<div class="alert alert-success" role="alert">
            <%= succ %>
		</div>
        <% } %>

		<h2 style="margin-bottom: 40px;margin-top: auto;">Whisper App</h2>

		<input id="ex1" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="1" data-slider-step="0.2" data-slider-value="0.3"/>
		<div class="row">
			<h6 style="margin-right: 15px;">PoW level</h6>
			<form action="/pow" method="post" id='powForm'>
				<select name="pow">
					<option value="0">None (0)</option>
					<option value="0.1">Very Low (0.1)</option>
					<option value="0.2" selected>Default (0.2)</option>
					<option value="0.4">Intermediate (0.4)</option>
					<option value="0.6">High (0.6)</option>
					<option value="0.8">Very High (0.8)</option>
					<option value="1">Max (1)</option>
				</select>
				<button type="submit" class="btn btn-dark btn-sm">Set</button>
			</form>
		</div>
		<hr></hr>
				<a href="#contactModal" class="btn btn-info btn-sm" data-toggle="modal">Add Contact</a>
				<br><br>
                <a href="#createGroupModal" class="btn btn-info btn-sm" data-toggle="modal">Create Group</a>
                <br><br>
				<h5>Active Groups</h5>
					<%if(groupChannels && groupChannels.size>0) { %>
						<% for(let name of groupChannels.keys()) {%>
						<div class="row">
							<a href='session/<%=name%>' target="_blank"><%=name%></a>
						</div>
					<%	}%>
					<% } %>
				<br>
				<h5>All Messages Received</h5>
					<%if(messageStorage && messageStorage.length>0) { %>
						<% for(let message of messageStorage) {%>
							<div class="row">
							<p><%=message%></p>
						</div>
					<%	}%>
					<% } %>

					<div id="contactModal" class="modal fade">
						<div class="modal-dialog modal-confirm">
							<div class="modal-content">
								<div class="modal-header">
									<h4 class="modal-title">Add Contact</h4>
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
								</div>
								<div class="modal-body">
								<form action="/contact" method="post" id='form'>
									<div class="form-group">
										<label for="name">Name</label>
										<input type="text" class="form-control" name="name" value="" required/>
									</div>
										<div class="form-group">
											<label for="topic">Topic</label>
											<input type="text" class="form-control" name="topic" value="" required/>
										</div>
										<div class="form-group">
					            <label for="message-text" class="col-form-label">Public Key</label>
					            <textarea class="form-control" name="publicKey" required></textarea>
					          </div>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
										<button type="submit" class="btn btn-primary">Confirm</button>
									</div>
								</form>
							</div>
						</div>
					</div>
		<div id="createGroupModal" class="modal fade">
			<div class="modal-dialog modal-confirm">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">Create New Group</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">
						<form action="/createGroup" method="post" id='initForm'>
							<div class="form-row">
								<div class="form-group col-md-6">
									<label for="groupName">Group Name</label>
									<input type="text" class="form-control" name="groupName" value=""/>
								</div>
							</div>
							<div class="form-row">
								<div class="form-group col-md-6">
									<label for="contactSelect">Members</label>
                                    <select id="contactSelect" multiple="multiple" name="contactSelect" required>
                                        <%if(contacts) { %>
                                        <% for(let contact of contacts.keys()) {%>
										<%if(contact != 'Me'){%>
                                        <option value="<%= contact %>"><%= contact %></option>
                                        <% } } } %>
                                    </select>
								</div>
							</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
						<button type="submit" class="btn btn-info">Create</button>
					</div>
					</form>
				</div>
			</div>
		</div>

  </body>
</html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.0.0/bootstrap-slider.js" type="text/javascript"/> </script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"/> </script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"/></script>
<script>
	var slider = new Slider('#ex1', {
		formatter: function(value) {
			return 'Current value: ' + value;
		}
	});
</script>